:root {
    --color-primary: #459d7a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}


/*header*/

.war-conten {
    max-width: 1366px;
    margin: auto;
}


/*
.nav {
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    padding: 0;
    margin: auto 16px;
}

.nav-item {
    color: #fff;
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}
*/

.header {
    padding-top: 13.5em;
    padding-bottom: 11.25em;
    background-color: #101010;
    background-image: url("..//image/bg-header-dot.svg"), url("..//image/bg-header-left.svg"), url("..//image/bg-header-right.svg");
    background-position: 50% 50%, 100% 50%, 0px 0px;
    background-size: auto 45.25em, auto 28em, auto 17.875em;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.nav-link {
    color: white;
}

.header img {
    margin-top: 15px;
}

.header .logo-nav {
    margin-top: 15px;
    max-height: 1.625em;
}

.header button {
    margin-top: -5px;
    border-radius: 12px;
}

.header .nav-link {
    font-size: 16px;
    padding: 0px;
    margin-left: 55px;
    margin-right: 20px;
}

.dropdown-item {
    background-color: rgb(16, 16, 16);
    color: white;
    text-align: center;
    font-size: 16px;
}

.no-hover:hover {
    color: inherit !important;
    background-color: inherit !important;
    text-decoration: none !important;
    cursor: default !important;
}


/*container*/

.container .row {
    color: aliceblue;
    margin-top: 100px;
}

.container .phone {
    margin-right: 365px;
}

.container .txt-xxl {
    font-size: 4em;
    font-weight: 900;
    line-height: 1.1em;
}

.container .txt-m {
    width: 562px;
    margin-top: 82px;
    font-size: 1.5em;
    line-height: 1.5em;
    font-style: italic;
}

.container .store {
    margin-left: 0px;
    margin-top: -80px;
}

.container .ratting-wrapper {
    margin-top: -80px;
}

.container .ratting-wrapper .star {
    margin-top: -10px;
    margin-left: 10px;
}

.container .amazon-left {
    position: absolute;
    left: -2.1em;
    top: 23.5em;
    width: 20em;
    height: 3.875em;
}

.container .amazon-img {
    box-shadow: 0 40px 60px 0 hsla(0, 0.00%, 20.00%, 0.20);
}

.container .mcd-right {
    position: absolute;
    right: -16.5em;
    bottom: 4em;
    width: 20em;
    height: 3.875em;
}

.container .mcd-right {
    box-shadow: 0 40px 60px 0 hsla(0, 0.00%, 20.00%, 0.20);
}


/*section*/

.section {
    margin-top: 0px;
    padding-top: 0px;
}


/*section-1*/

.section-1 {
    position: relative;
    background-image: url("..//image/background-2.svg"), linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248));
    /* Tấm hình và màu nền xanh */
    background-blend-mode: multiply;
    /* Áp dụng hiệu ứng nhân màu */
    background-size: cover;
    height: 800px;
}

.section-1 .container {
    padding-top: 100px;
}

.section-1 .row {
    display: flex;
}

.section-1 .cropper {
    text-align: center;
}

.section-1 .cropper p {
    color: rgb(199, 187, 179);
}

.section-1 .card {
    width: 240px;
    height: 332px;
    justify-content: center;
    margin-left: 40px;
    color: black;
    border-radius: 15px;
}

.section-1 .card h1 {
    margin-top: 45px;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: bold;
    color: black;
    margin-left: 30px;
}

.section-1 img {
    margin-left: 30px;
}

.section-1 .card p {
    font-size: 1.2em;
    line-height: 1.5em;
    font-style: italic;
    color: rgb(199, 187, 179);
    margin-left: 30px;
}

.section-1 .card:hover {
    background-color: rgb(136, 232, 152);
}

.section-1 .txt-xl {
    font-size: 2.5em;
    line-height: 1.4em;
    font-weight: bold;
}

.section-1 .txt-m {
    width: 615px;
    margin-top: 20px;
    margin-left: 230px;
    font-size: 1.5em;
    line-height: 1.5em;
    font-style: italic;
}

.section-1 .txt-sm {
    margin-right: 20px;
}


/*section-2*/

.section-2 {
    margin-top: 0px;
    padding: 0px;
}

.section-2 h1 {
    font-size: 2.5em;
    line-height: 1.4em;
    color: black;
}

.section-2 p {
    font-size: 1.25em;
    line-height: 1.5em;
    font-style: italic;
    color: rgb(199, 187, 179);
}

.section-2 .btn-wrapper {
    padding-top: 0.875em;
    padding-right: 1.5em;
    padding-bottom: 0.875em;
    padding-left: 1.5em;
    border: #72e485;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #72e485;
    color: hsla(0, 0.00%, 0.00%, 1.00);
    text-decoration: none;
}

.section-2 .row {
    display: flex;
}

.section-2 .col {
    justify-content: center;
}

.section-2 .col .cropper {
    margin-left: 80px;
}

.section-2 .row {
    display: flex;
    justify-content: space-between;
}

.section-2 .card {
    flex-basis: 40%;
    border: none;
}

.section-2 #a {
    height: 100px;
    font-size: 2.5em;
    line-height: 1.4em;
    font-weight: bold;
}

.section-2 #b {
    width: 400px;
    height: 100px;
    font-size: 2.5em;
    line-height: 1.4em;
    font-weight: bold;
}

.section-2 .txt-m {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: bold;
    font-style: normal;
}

.section-2 .txt-xs {
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 400;
    font-style: italic;
}

.section-2 .txt-sm {
    margin-top: 20px;
    width: 355px;
    font-size: 1.25em;
    line-height: 1.5em;
    font-style: italic;
}

.section-2 .btn-wrapper {
    margin-top: 40px;
}


/*section-3*/

.section-3 {
    position: relative;
    background-image: url("..//image/background-2.svg"), linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248));
    /* Tấm hình và màu nền xanh */
    background-blend-mode: multiply;
    /* Áp dụng hiệu ứng nhân màu */
    background-size: cover;
    padding: 100px;
    margin-top: 50px;
    padding-top: 50px;
}

.section-3 .cropper .txt-xl {
    text-align: center;
    font-size: 2.5em;
    line-height: 1.4em;
    font-weight: bold;
}

.section-3 .slider-item {
    padding: 30px;
    background-color: white;
    margin-top: 70px;
    margin-left: 60px;
    width: 915px;
    height: 275px;
    border: none;
    border-radius: 20px;
}

.section-3 .slider-item .slider-body {
    margin-top: -60px;
    width: 772px;
}

.section-3 .slider-item .slider-body b {
    font-size: 1.75em;
}

.section-3 .slider-item .slider-body p {
    width: 695px;
    font-size: 1.125em;
    color: rgb(199, 187, 179);
    font-style: italic;
}

.section-3 .txt-m {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: bold;
    font-style: normal;
}

.section-3 .slider-item-footer {
    display: flex;
}

.section-3 .slider-item-footer .left {
    flex: 1;
    justify-content: space-between;
}

.section-3 .slider-item-footer .right {
    flex: 1;
}

.section-3 .slider-item-footer .right img {
    margin-left: 270px;
}

.section-3 .slider-item-footer .left {
    display: flex;
    justify-content: flex-start;
}

.section-3 .slider-item-footer .left .name-wrapper {
    margin-left: 20px;
}

.section-3 .slider-item-footer .left .txt-name {
    color: #666;
    margin-bottom: 4px;
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 400;
}

.section-3 .txt-position {
    font-size: 1.125em;
    line-height: 1em;
    font-weight: 400;
    color: rgb(199, 187, 179);
    font-style: italic;
}

.section-3 .slider-item-footer .left img {
    border-radius: 50%;
}

.section-4 {
    padding-top: 0px;
    margin-top: 0px;
    position: relative;
    background-image: url("..//image/background-2.svg"), linear-gradient(rgba(0, 128, 0, 0.7), rgba(0, 128, 0, 0.7));
    /* Tấm hình và màu nền xanh */
    background-blend-mode: multiply;
    /* Áp dụng hiệu ứng nhân màu */
    background-size: cover;
}

.section-4 .cropper {
    padding: 80px;
    padding-top: 0px;
    width: 680px;
    margin-left: 220px;
}

.section-4 .cropper h1,
.section-4 .cropper p {
    text-align: center;
    color: black;
}

.section-4 .cropper .txt-xs {
    width: 380px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 500;
    font-style: italic;
}

.section-4 .store-wrapper {
    display: flex;
    justify-content: center;
}

.section-4 .store-wrapper img {
    margin-right: 15px;
}

.section-4 .txt-xl {
    width: 450px;
    font-size: 2.5em;
    line-height: 1.4em;
    font-weight: bold;
}


/*footer*/

footer {
    background-color: black;
}

i.fb,
span.fb {
    color: #050505;
}

i.it,
span.it {
    color: #070707;
}

.Footer-Flex-Container {
    padding: 80px;
    display: flex;
    justify-content: space-between;
}

.overflow {
    margin-top: 50px;
}

.footer-link {
    display: block;
    color: hsla(0, 0.00%, 100.00%, 1.00);
    margin-bottom: 0.5em;
    font-size: 1.125em;
    line-height: 1.5em;
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
}

.footer-link-box .txt-s {
    font-style: italic;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.5em;
    color: hsla(0, 0.00%, 100.00%, 1.00);
}

.footer-link-box {
    display: flex;
}

.footer-link-list {
    flex: 1;
    list-style: none;
}

.footer-link-box .txt-s {
    flex: 1;
    width: 250px;
    margin-right: 50px;
}

.footer-logo-wrapper i {
    color: rgb(245, 242, 242);
    font-size: 25px;
    margin-right: 20px;
    border-radius: 100%;
    text-decoration: none;
}

.footer-logo-wrapper i:hover {
    background-color: #666;
}

.copyright {
    text-align: center;
    font-size: 1.125em;
    text-transform: uppercase;
    color: hsla(0, 0.00%, 100.00%, 1.00);
    border-top: rgb(35, 35, 35) solid 2px;
    padding: 20px;
}